<% include ../partials/boilerplate.ejs %>

<div class = 'searchBar'>
  <input type ='text' class = 'search' placeholder = 'Find a Show!'>
  <button type ='submit' class = 'finder'>Search!</button>
</div>
<form method = 'GET' action = '/shows/favorites'>
  <button type="submit">See Favorites</button>
</form>
<a href ='/auth/logout'><button>Logout!</button></a>
<div class = 'largeContainer'>
  <% if (jsonData.poster_path != null) { %>
  <div class = 'showPicture'>
    <img class = 'poster'  src = 'https://image.tmdb.org/t/p/w500<%= jsonData.poster_path %>'>
  </div>
  <% } %>
  <div class = 'largeInfo'>
    <h1><%= jsonData.name %></h1>
    <h2><b>First Air Date:</b> <%= jsonData.first_air_date %> </h2>
    <p><b>Networks:</b> <% jsonData.networks.forEach(e => { %> <%=e.name %> <% }) %></p>
    <p><b>Status:</b> <%= jsonData.status %></p>
    <p><b>Number of episodes:</b> <%= jsonData.number_of_episodes %></p>
    <p><b>Number of seasons:</b> <%= jsonData.number_of_seasons %></p>
    <p><b>Genres:</b> <% jsonData.genres.forEach(e => { %> <%= e.name %> <% }) %></p>
    <p><%= jsonData.overview %></p>
  </div>
</div>
<h1 class = 'seasonHeader'>Seasons</h1>
<div class = 'seasons'>
  <% jsonData.seasons.forEach(e =>{ %>
  <div class = 'showContainer'>
    <% if (e.poster_path != null) { %>
      <div class = 'showPicture'>
        <img  class = 'miniPoster' src = 'https://image.tmdb.org/t/p/w500<%= e.poster_path %>'>
      </div>
    <% } else { %>
        <img class = 'miniposter' src = 'http://res.cloudinary.com/dnockqung/image/upload/q_99/v1509421586/noimage_ibguir.jpg'>
    <% } %>
    <div class = 'showInfo'>
      <h2>Season: <%= e.season_number %></h2>
      <p><b>Episode Count:</b> <%= e.episode_count %></p>
      <p><b>Air Date:</b> <%= e.air_date %> </p>
    </div>
  </div>
<% }) %>
</div>


<script src='/src/main.js'></script>
<% include ../partials/end.ejs %>
